@import './utilities';

#login{
    @include flexCenter(row, center, center);

    .left{
        width: 50vw;
        height: 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right{
        width: 50vw;
        height: 100vh;
        background: #051920;

        &__up{
            height: 90vh;
            @include flexCenter(column, center, center);
        }
        &__down{
            margin: -13rem 0 0 7.2rem;
        }
    }
}