@import './utilities';

#nav{
    @include flexCenter(row, space-around, center);
    background: #051920;
    margin: auto;
    height: 10vh;
    width: 100vw;

    .logout{
        @include flexCenter(row, center, center);

        & >:first-child {
            margin-right: 10px;
        }
    }
}