@import './utilities';

#nav{
    @include flexCenter;
    justify-content: space-around;
    background: #051920;
    margin: auto;
    height: 10vh;
    #logo{
        text-transform: uppercase;
        h1{
            font-size: 2rem;
        }
    }

    
}