@import './utilities';

.signup{
    @include flexCenter(row, center, center);

    &__left{
        width: 50vw;
        height: 100vh;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__right{
        width: 50vw;
        height: 100vh;
        background: #051920;

        &-up{
            height: 90vh;
            @include flexCenter(column, center, center);
        }
        &-down{
            margin: -8rem 0 0 7.2rem;
        }
    }
}

