.movie-card{
    margin: 0 5px;
    cursor: pointer;
}

.movie-poster{
    height:260px;
    width:190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 5px;
}

.movie-title{
    background: transparent;
    width: 200px;
    height: 70px;
    margin-top: 10px;
}

.movie-title p{
    font-weight: 200;
}