@import './variables';

@mixin flexCenter($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


.btn{
    border-radius: 3px;
}

.btn-primary{
    background-color: #f4d35e;
    color: #051920;
    border: none;
    &:hover{
        opacity: .9;
        cursor: pointer;
    }
}
.btn-secondary{
    background-color: transparent;
    color: #e4f2fc;
    border: 1px solid #e4f2fc;
    &:hover{
        opacity: .8;
        cursor: pointer;
    }
}

.btn-small{
    padding: 7px 17px;
}

.btn-medium{
    padding: 11px 40px;
    font-size: 1.1rem;
}

.btn-large{
    padding: 16px 60px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.logo{
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 1.2rem;
    margin-top: .5rem;
    &--white{
        color: #e4f2fc;
    }
    &--dark{
        color: #051920;
    }   
}
    
