@import './variables';

.watchlist {
    max-width: 1100px;
    margin: 20px auto;

    &__title {
        color: #051920;
        margin-bottom: 20px;
    }

    &__error {
        color: #051920;
        margin-bottom: 20px;
    }

    &__movies {
        background: #051920;
        border-radius: $borderRadious;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}