@use 'navbar';
@use 'resets';
@use 'welcome';
@use 'utilities';
@use 'footer';
@use 'register';
@use 'login';
@use 'form';
@use 'singlemoviecard';
@use 'trending';
@use 'singlemoviepage';
@use 'searchbar';
@use 'searchmovieresults';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap');


body{
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: #e4f2fc;
    overflow-x: hidden;
}

a{
  text-decoration: none;
}

::-webkit-scrollbar{
    width: 5px;
  }
  
::-webkit-scrollbar-track{
    background: #e4f2fc;
  }
  
::-webkit-scrollbar-thumb{
    background: #051920;
    border-radius: 10px;
  }

